PACKCONTROL_WEB_PORT=8088
PACKCONTROL_WEB_ORIGIN=http://localhost:8088

PACKCONTROL_DB_NAME=packcontrol
PACKCONTROL_DB_USER=packcontrol
PACKCONTROL_DB_PASSWORD=packcontrol

PACKCONTROL_FISCAL_ALLOW_REAL_EMISSION=false
PACKCONTROL_FISCAL_CERTIFICATE_PATH=
PACKCONTROL_FISCAL_CERTIFICATE_PASSWORD=
